<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <!-- BRAND CONTAINER -->
    <div class="brand-container">
        <button class="logo" (click)="toggleCollapse()">
            <img src="../../assets/images/company-logo.png" alt="logo">
        </button>
        <button class="toggle-btn" (click)="toggleCollapse()">
            <i class="fa-solid" [ngClass]="collapsed ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
        </button>
    </div>

    <hr class="hr-style hr-config" />

    <div class="scrollwrap scrollwrap_delayed">
        <!-- ACTIVE MODULE CONTAINER -->
        <ul class="sidenav-nav nav-config-1">
            <h4 class="sales-module" [ngClass]="collapsed ? 'sales-module' : 'sales-module-collapsed'">
                {{ collapsed ? 'Active Module' : 'Active' }}
            </h4>
            <li class="sidenav-nav-item" *ngFor="let data of activeData">
                <a class="sidenav-nav-link" [class.active]="data.expanded" (click)="setActiveModule(data)"
                    [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    [pTooltip]="data.label" tooltipPosition="right" [tooltipDisabled]="collapsed">
                    <i class="sidenav-link-icon" [ngClass]="data.icon"></i>
                    <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
                </a>
            </li>
        </ul>

        <!-- SUB NAV CONTAINER -->
        <div>
            <ul class="sidenav-nav nav-config-2">
                <hr class="hr-style" />
                <h4 class="sales-module sales-module-collapsed" *ngIf="!collapsed" [pTooltip]="activeParentName"
                    tooltipPosition="right" [tooltipDisabled]="activeParentName.length < 8">
                    {{ activeParentName.length >= 5 ? activeParentName.slice(0, 5) + '...' : activeParentName }}
                </h4>
                <h4 class="sales-module" *ngIf="collapsed">{{ activeParentName }}</h4>
                <ng-container *ngFor="let data of navData">
                    <li class="sidenav-nav-item" *ngIf="data.parentId == activeParentId">
                        <!-- WITHOUT SUB -->
                        <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
                            [routerLink]="[data.routeLink]" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" (click)="shrinkItems(data)"
                            [pTooltip]="data.label" tooltipPosition="right" [tooltipDisabled]="collapsed">
                            <i class="sidenav-link-icon" [ngClass]="data.icon"></i>
                            <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
                        </a>
                        <!-- WITH SUB -->
                        <a class="sidenav-nav-link" (click)="handleClick(data)" (mouseenter)="setHoverSub(data)"
                            *ngIf="data.items && data.items.length > 0" [ngClass]="getActiveClass(data)">
                            <i class="sidenav-link-icon" [class]="data.icon"></i>
                            <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                                {{data.label}}
                            </span>
                            <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                                [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"></i>
                        </a>

                        <div *ngIf="collapsed && data.items && data.items.length > 0">
                            <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
                                [expanded]="data.expanded"></app-sublevel-menu>
                        </div>
                    </li>
                </ng-container>

                <!-- SUB HOVER TAB -->
                <div *ngIf="!collapsed && isHover" (mouseenter)="isHover = true" (mouseleave)="isHover = false"
                    class="hover-tab" [ngStyle]="getHoverTabStyles()">
                    <ul>
                        <li class="hover-li" *ngFor="let data of subHoverData.items">
                            <a class="hover-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">
                                <span class="hover-link-text">{{data.label}}</span>

                            </a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

        <!-- HELP CONTAINER -->
        <!-- <div class="help-container">
            <i class="fa-regular fa-circle-question fa-lg" [ngClass]="{'help-collapsed': !collapsed}"
                pTooltip="Help" tooltipPosition="right" [tooltipDisabled]="collapsed"></i>
            <h4 *ngIf="collapsed">Help</h4>
        </div> -->
    </div>

    <div class="nav-footer">
        <div class="profile-wrapper-main">
            <hr class="hr-style" />
            <!-- USER DATA CONTAINER -->
            <div class="user-container">
                <div class="wapper">
                    <img *ngIf="collapsed" class="user-image" src="../../assets/images/sample-user.png" alt="user"
                        (click)="navProfile()">
                    <div *ngIf="collapsed" class="user-details">
                        <h5 (click)="navProfile()">USER PROFILE</h5>
                        <h3 (click)="navProfile()">{{userName}}</h3>
                    </div>
                </div>

                <div [class.exit-collapse]="!collapsed" class="exit-button" (click)="logout()">
                    <i id="exit-button" class="fa-solid fa-arrow-right-from-bracket" pTooltip="Logout"
                        tooltipPosition="right" [tooltipDisabled]="collapsed"></i>
                </div>
            </div>
        </div>
    </div>
</div>