.color-patch {
    min-width: 20px;
    min-height: 20px;
    border-radius: 5px;
    margin: 5px;
}
  
.color-patch:hover {
    border-radius: 5px;
    transition: transform .2s;
    transform: scale(1.2);
}
