<!-- <section class="content-header" *ngIf="!isLoading">
    <h3>
        {{'SALES_RETURN_REPRINT.BREAD_CRUMB_TITLE'| translate }}
        <small>{{'COMMON.BREAD_CRUMB_SUB_TITLE'| translate }}</small>
    </h3>
    <p-breadcrumb [model]="items" [home]="home" [style]="{ background: 'none', border: 'none' }"></p-breadcrumb>
</section> -->

<!-- <section class="container-fluid page-scroller" *ngIf="!isLoading">
    <form [formGroup]="dataForm">
        <div class="row">

            <div class="col-md-12">
                <div class="content-card-custom">

                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                                {{'SALES_RETURN_REPRINT.TITLE'| translate }}</p>
                            <p class="toolbar__para para-style" [ngStyle]="{'color': theme.toolBarSubHeaderColor}">
                                {{'SALES_RETURN_REPRINT.SUB_TITLE'| translate}}</p>
                        </div>

                        <span class="toolbar-spacer"></span>

                        <div class="tool-bar-btn-group">

                            <button *ngIf="grantAccess(1)" class="toolbar__icon"
                                [disabled]="!dataForm.valid"
                                matTooltip="{{'COMMON.SAVE_TOOLTIP'| translate}}" (click)="getData()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">sync</mat-icon>
                            </button>


                            <button class="toolbar__icon right_corner"
                                matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}" (click)="clearData()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">add</mat-icon>
                            </button>
                        </div>

                    </mat-toolbar>

                    <div class="txt-wrapper">

                        <div class="row">

                            <div class="col-md-6">
                                <label class="label-config">{{'SALES_RETURN_REPRINT.FORM_TITLE_1'| translate }}</label>
                                <input type="date" class="input-style input-config-1" placeholder="Start Date" [(ngModel)]="startDate"
                                    pInputText formControlName="startDate">
                                    
                            </div>

                            <div class="col-md-6">
                                <label class="label-config">{{'SALES_RETURN_REPRINT.FORM_TITLE_2'| translate }}</label>
                                <input type="date" class="input-style input-config-1" placeholder="End Date" pInputText [(ngModel)]="endDate"
                                    formControlName="endDate">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="content-card">
                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                                {{'SALES_RETURN_REPRINT.TABLE_TITLE'| translate}}</p>
                        </div>
                        <span class="toolbar-spacer"></span>

                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input type="text" class="input-style input-config-1 table-search-box"
                                placeholder="{{'COMMON.SEARCH_TITLE'| translate }}" pInputText
                                (keyup)="tableFilter($event)">
                        </span>
                    </mat-toolbar>

                    <div class="table-wrapper">
                        <div class="table">
                            <mat-table #table [dataSource]="dataSource">

                                <ng-container matColumnDef="print">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN_REPRINT.TABLE_HEADER_1'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" (click)="getPrint(element)">
                                            <mat-icon>print</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN_REPRINT.TABLE_HEADER_2'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        #{{commonFunctions.makeInvoiceNumber(element.id)}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="createdDate">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN_REPRINT.TABLE_HEADER_3'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.createdDate}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="createdBy">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN_REPRINT.TABLE_HEADER_4'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.createdBy}}
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 20]"
                                showFirstLastButtons>
                            </mat-paginator>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section> -->

<app-loader *ngIf="isLoading"></app-loader>
<h2 class="header">Sales Return Reprint</h2>
<p class="breadcrumbs">sales / sales-return-reprint</p>
<p-toast></p-toast>
<div class="insert-form-card" *ngIf="!isLoading">
    <!-- FORM HEADER -->
    <div class="card-header">
        <h2 class="header">Sales Return Reprint</h2>
        <div class="icon-wapper">
            <button class="icon-button" pTooltip="Get Data" tooltipPosition="bottom" (click)="getData()"
                [disabled]="!dataForm.valid">
                <i class="fal fa-inbox-in"></i>
            </button>
            <button class="icon-button" pTooltip="Clear" tooltipPosition="bottom" (click)="clearData()">
                <i class="fal fa-eraser"></i>
            </button>
        </div>
    </div>

    <!-- FORM BODY -->
    <form class="card-body" [formGroup]="dataForm">
        <div class="input-wapper">
            <div class="wapper">
                <label for="start-date">Start Date</label>
                <p-calendar [(ngModel)]="startDate" formControlName="startDate" [showIcon]="true"></p-calendar>
            </div>

            <div class="wapper">
                <label for="end-date">End Date</label>
                <p-calendar [(ngModel)]="endDate" formControlName="endDate" [showIcon]="true"></p-calendar>
            </div>
        </div>
    </form>
</div>

<div class="view-table-card" *ngIf="!isLoading">
    <p-table 
        #dt1 
        [value]="allData" 
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['createdDate', 'createdBy']">
        <!-- TABLE FILTERS -->
        <ng-template pTemplate="caption">
            <div class="flex" class="card-filter">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter Data" class="filter"/>
                </span>
            </div>
        </ng-template>
        <!-- TABLE HEADER -->
        <ng-template pTemplate="header">
            <tr class="card-header">
                <th class="left-th">Sales Return No</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th class="right-th">Print</th>
            </tr>
        </ng-template>
        <!-- TABLE BODY -->
        <ng-template pTemplate="body" let-data>
            <tr [pSelectableRow]="data" class="card-body table-border">
                <td>{{data.genId}}</td>
                <td>{{data.createdDate}}</td>
                <td>{{data.createdBy}}</td>
                <td>
                    <button (click)="getPrint(data)" class="print-btn">
                        <i class="fal fa-print" ></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>