<!-- <section class="content-header" *ngIf="!isLoading">
    <h3>
        {{'SALES_RETURN.BREAD_CRUMB_TITLE'| translate }}
        <small>{{'COMMON.BREAD_CRUMB_SUB_TITLE'| translate }}</small>
    </h3>
    <p-breadcrumb [model]="items" [home]="home" [style]="{ background: 'none', border: 'none' }"></p-breadcrumb>
</section> -->


<!-- <section class="container-fluid page-scroller" [hidden]="isLoading">
    <form [formGroup]="dataForm">
        <div class="row">

            <div class="col-md-12">
                <div class="content-card-custom">

                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                                {{'SALES_RETURN.TITLE'|
                                translate }}</p>
                            <p class="toolbar__para para-style" [ngStyle]="{'color': theme.toolBarSubHeaderColor}">
                                {{'SALES_RETURN.SUB_TITLE'| translate}}</p>
                        </div>

                        <span class="toolbar-spacer"></span>

                        <div class="tool-bar-btn-group">
                       
                            <button class="toolbar__icon right_corner"
                                matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}" (click)="clearData()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">add</mat-icon>
                            </button>
                        </div>

                    </mat-toolbar>

                    <div class="txt-wrapper">

                        <div class="row">

                            <div class="col-md-6">
                                <label class="label-config">{{'SALES_RETURN.FORM_TITLE_1'| translate }}</label>
                                <input type="date" class="input-style input-config-1" placeholder="Date" pInputText
                                    formControlName="date" [(ngModel)]="dateModel" (ngModelChange)="dateChanged()">
                            </div>

                            <div class="col-md-6">
                                <label class="label-config">{{'SALES_RETURN.FORM_TITLE_2'| translate }}</label>
                                <p-dropdown [options]="allInvoices" optionLabel="label" optionValue="id" [filter]="true"
                                    [style]="{'width':'100%','height':'45px','margin-bottom': '10px'}"
                                    [(ngModel)]="invId" (ngModelChange)="invoiceChanged()"
                                    formControlName="invoiceNumber">
                                </p-dropdown>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="content-card">
                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                                {{'SALES_RETURN.TABLE_TITLE'| translate}}</p>
                        </div>
                        <span class="toolbar-spacer"></span>

                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input type="text" class="input-style input-config-1 table-search-box"
                                placeholder="{{'COMMON.SEARCH_TITLE'| translate }}" pInputText
                                (keyup)="tableFilter($event)">
                        </span>

                        <div class="tool-bar-btn-group">
                            <button class="toolbar__icon right_corner" matTooltip="{{'COMMON.SAVE_TOOLTIP'| translate}}"                  
                                (click)="saveConfirmation()" [disabled]="!dataForm.valid"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">save</mat-icon>
                            </button>

                        </div>



                    </mat-toolbar>

                    <div class="table-wrapper">
                        <div class="table">
                            <mat-table #table [dataSource]="dataSource">


                                <ng-container matColumnDef="product">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN.TABLE_HEADER_1'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.productName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="cost">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN.TABLE_HEADER_2'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <input type="number" class="input-style input-config-1" pInputText
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="element.cost">
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="quantity">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN.TABLE_HEADER_3'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.invoiceQuantity}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="prereturn">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN.TABLE_HEADER_4'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.returnQty}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="returnQuantity">
                                    <mat-header-cell *matHeaderCellDef>{{'SALES_RETURN.TABLE_HEADER_5'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">

                                        <input type="text" class="input-style input-config-1" pInputText
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="element.quantity"
                                            (ngModelChange)="returnQtyChange(element)">

                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 20]"
                                showFirstLastButtons>
                            </mat-paginator>
                            <br>


                        </div>

                    </div>

                </div>
            </div>

        </div>
    </form>


</section> -->

<app-loader *ngIf="isLoading"></app-loader>
<h2 class="header">Sales Return</h2>
<p class="breadcrumbs">sales / sales-return</p>
<p-toast></p-toast>
<div class="insert-form-card" [hidden]="isLoading">
    <!-- FORM HEADER -->
    <div class="card-header">
        <h2 class="header">Sales Return</h2>
        <div class="icon-wapper">
            <button class="icon-button" pTooltip="Clear" tooltipPosition="bottom" (click)="clearData()">
                <i class="fal fa-eraser"></i>
            </button>
        </div>
    </div>

    <!-- FORM BODY -->
    <form class="card-body" [formGroup]="dataForm">
        <div class="input-wapper">


            <div class="wapper">
                <label>Customer</label>
                <p-dropdown [options]="allcustomers" optionLabel="name" optionValue="id" [filter]="true"
                    [style]="{'width':'100%','height':'45px','margin-bottom': '10px'}"
                    [(ngModel)]="cusId" (ngModelChange)="dataChanged()"
                    formControlName="cusId" placeholder="Please Select Customer">
                </p-dropdown>
            </div>

            <div class="wapper">
                <label>Product</label>
                <p-dropdown [options]="allproducts" optionLabel="name" optionValue="id" [filter]="true"
                    [style]="{'width':'100%','height':'45px','margin-bottom': '10px'}"
                    [(ngModel)]="productId" (ngModelChange)="dataChanged()"
                    formControlName="productId" placeholder="Please Select Product">
                </p-dropdown>
            </div>


            <!-- <div class="wapper">
                <label for="start-date">Start Date</label>
                <p-calendar formControlName="date" (ngModelChange)="dateChanged()" [showIcon]="true"></p-calendar>
            </div>

            <div class="wapper">
                <label for="end-date">Invoice Number</label>
                <p-dropdown [options]="allInvoices" optionLabel="label" optionValue="id" [filter]="true"
                    [style]="{'width':'100%'}" (ngModelChange)="invoiceChanged()"
                    formControlName="invoiceNumber">
                </p-dropdown>
            </div>
             -->
        </div>
    </form>
</div>

<div class="view-table-card" [hidden]="isLoading">
    <p-table 
        #dt1 
        [value]="allData" 
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['createdDate', 'createdBy']">
        <!-- TABLE FILTERS -->
        <ng-template pTemplate="caption">
            <div class="flex" class="card-filter">
                <button class="icon-button" [disabled]="!dataForm.valid" tooltipPosition="bottom" (click)="saveConfirmation()">
                    <i class="fal fa-truck-fast fa-flip-horizontal"></i>
                    <h4>Return Item</h4>
                </button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter Data" class="filter"/>
                </span>
            </div>
        </ng-template>
        <!-- TABLE HEADER -->
        <ng-template pTemplate="header">
            <tr class="card-header">
                <th class="left-th">Invoice Number</th>
                <th>Invoice Quantity</th>
                <th>Previous return</th>
                <th>Cost</th>
                <th class="right-th">Return Quantity</th>
            </tr>
        </ng-template>
        <!-- TABLE BODY -->
        <ng-template pTemplate="body" let-data>
            <tr class="card-body table-border">
                <td>{{data.headerGenId}}</td>
                <td>{{data.invoiceQuantity}}</td>
                <td>{{data.returnQty}}</td>
                <td>
                    <input class="input-text" type="number" pInputText [ngModelOptions]="{standalone: true}" [(ngModel)]="data.cost" />
                </td>
                <td>
                    <input class="input-text" type="number" pInputText [ngModelOptions]="{standalone: true}" [(ngModel)]="data.quantity"
                    (ngModelChange)="returnQtyChange(data)"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>