@import "../../../../colors.scss";

.card-filter{
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;

    span{
        i{
            padding-top: 1px;
        }
    }
}

.button-wapper{
    display: flex;
    gap: 18px;

    i{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26px;
        width: 26px;
        font-size: 20px !important;
        font-weight: 400 !important;
        color: $white;
    }
}

.icon-button{
    border-radius: 8px;
    padding: 10px 14px;
    border: none;
    background-color: $green-theme-colors-light;
    cursor: pointer;
    display: flex;
    gap: 4px;

    h4{
        margin-top: 2px;
        margin-bottom: 0;
        color: white;
    }
}

.fa-file-contract{
    padding-bottom: 0;
}