@import "../../../../colors.scss";

// .reloader
// {
//     cursor: pointer;
// }

.card-filter{
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;    
}

.reload-button{ 
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid $border-color;
    background-color: $white !important;
    
    display: inline-flex;
    flex-direction: row;

    .fa-rotate{
        color: $black;
    }

    span{
        margin-top: 4px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.reload-button:hover{
    background-color: #E2E2E2 !important;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    font-size: 20px;
    font-weight: 400;
    color: $white;
    padding-bottom: 8px;
}

.fa-rotate{
    padding-bottom: 0;
}