<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-card">
                    <mat-toolbar class="toolbar">

                        <div class="column">
                            <p class="toolbar__header">Distribution Points</p>
                            <p class="toolbar__para para-style">Bootstrap includes several predefined button styles</p>
                        </div>

                        <span class="example-spacer"></span>
                        <button class="toolbar__icon">
                            <i class='bx bx-history'></i>
                        </button>
                        <button class="toolbar__icon">
                            <i class='bx bx-line-chart'></i>
                        </button>
                    </mat-toolbar>

                    <div class="txt-wrapper">

                        <div class="input-wrapper">
                            <div class="input-sub-wrapper">
                                <label class="label-config">First Name</label>                                
                                <input type="text" class="input-style input-config-1" placeholder="Oliver" pInputText>
                            </div>
                            <div class="input-sub-wrapper ms-2">
                                <label class="label-config">Last Name</label>
                                <input type="text" class="input-style input-config-1" placeholder="Queen" pInputText>
                            </div>
                        </div>

                        <div class="input-wrapper mt-3">
                            <div class="input-sub-wrapper">
                                <label class="label-config">Street Address</label>
                                <input type="text" class="input-style input-config-2"
                                    placeholder="House number and street name" pInputText>
                                <input type="text" class="input-style input-config-2 mt-2"
                                    placeholder="Appartmant No. e.t.c" pInputText>
                            </div>
                        </div>

                        <div class="input-wrapper mt-3">
                            <div class="input-sub-wrapper">
                                <label class="label-config">City</label>
                                <input type="text" class="input-style input-config-1" placeholder="Angoda" pInputText>
                            </div>
                            <div class="input-sub-wrapper ms-2">
                                <label class="label-config">Postal Code</label>
                                <input type="text" class="input-style input-config-1" placeholder="10235" pInputText>
                            </div>
                        </div>

                        <div class="row mt-3 ms-1">
                            <button  class="button-primary btn__primary__config" ><i class='bx bx-save me-2'></i> Save</button>
                            <button class="button-secondary btn__primary__config ms-2">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="content-card">
                    <mat-toolbar class="toolbar">

                        <span class="example-spacer"></span>
                        <button class="toolbar__icon">
                            <i class='bx bx-plus'></i>
                        </button>
                        <button class="toolbar__icon">
                            <i class='bx bx-history'></i>
                        </button>
                        <button class="toolbar__icon">
                            <i class='bx bx-line-chart'></i>
                        </button>
                    </mat-toolbar>

                    <div class="table-wrapper">
                        <div class="table">

                            <mat-table #table [dataSource]="dataSource">

                                <ng-container matColumnDef="product">
                                    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.product}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="sku">
                                    <mat-header-cell *matHeaderCellDef>SKU</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.sku}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.date}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="reason">
                                    <mat-header-cell *matHeaderCellDef>Reason</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <p class="stat-profit">{{element.reason}}</p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.status}}
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 20]"
                                showFirstLastButtons>
                            </mat-paginator>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</body>