<!-- <section class="content-header" *ngIf="!isLoading">
    <h3>
        {{'INVOICE.BREAD_CRUMB_TITLE'| translate }}
        <small>{{'COMMON.BREAD_CRUMB_SUB_TITLE'| translate }}</small>
    </h3>
    <p-breadcrumb [model]="items" [home]="home" [style]="{ background: 'none', border: 'none' }"></p-breadcrumb>
</section> -->

<!-- <section class="container-fluid page-scroller" [hidden]="isLoading">
    <form [formGroup]="dataForm">
        <div class="row">

            <div class="col-md-12">
                <div class="content-card">

                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                                {{'INVOICE.TITLE'|
                                translate }}</p>
                            <p class="toolbar__para para-style" [ngStyle]="{'color': theme.toolBarSubHeaderColor}">
                                {{'INVOICE.SUB_TITLE'| translate}}</p>
                        </div>

                        <span class="toolbar-spacer"></span>

                        <div class="tool-bar-btn-group">

                            <button class="toolbar__icon" [disabled]="!dataForm.valid||selection.selected.length!=0"
                                matTooltip="{{'COMMON.SAVE_TOOLTIP'| translate}}" (click)="addtoCart()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">shopping_cart</mat-icon>
                            </button>

                            <button class="toolbar__icon" matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}"
                                [disabled]="allData.length==0" (click)="saveConfirmation()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">save</mat-icon>
                            </button>

                            <button class="toolbar__icon right_corner"
                                matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}" (click)="clearData()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">add</mat-icon>
                            </button>
                        </div>

                    </mat-toolbar>

                    <div class="txt-wrapper">

                        <div class="row">

                            <div class="col-md-3">
                                <mat-form-field class="input-full-width" appearance="outline">
                                    <mat-label>Customer Name</mat-label>
                                    <input type="text" matInput [formControl]="myControl" [(ngModel)]="selectedCustomer"
                                        [matAutocomplete]="auto" (ngModelChange)="customerChange()">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">


                                <mat-form-field appearance="outline">
                                    <mat-label>{{'INVOICE.FORM_TITLE_8'| translate }}</mat-label>
                                    <mat-select  formControlName="seperateCash">
                                        <mat-option *ngFor="let cop of cusOption" [value]="cop.id">
                                            {{cop.name}}
                                          </mat-option>
                                    </mat-select>
                                  </mat-form-field>

                             

                                <label class="label-config">{{'INVOICE.FORM_TITLE_8'| translate }}</label>
                                <p-dropdown [options]="cusOption" optionLabel="name" optionValue="id" 
                                    [filter]="true" [style]="{'width':'100%','height':'45px','margin-bottom': '10px'}"
                                    formControlName="seperateCash">
                                </p-dropdown>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field class="input-full-width" appearance="outline">
                                    <mat-label>{{'INVOICE.FORM_TITLE_6'| translate }}</mat-label>
                                    <input type="text" matInput formControlName="address">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="input-full-width" appearance="outline">
                                    <mat-label>{{'INVOICE.FORM_TITLE_7'| translate }}</mat-label>
                                    <input type="text" matInput formControlName="city">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field class="input-full-width" appearance="outline">
                                    <mat-label>{{'INVOICE.FORM_TITLE_5'| translate }}</mat-label>
                                    <input type="text" matInput formControlName="telephone">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <label class="label-config">{{'INVOICE.FORM_TITLE_1'| translate }}</label>
                                <p-dropdown [options]="allProduct" optionLabel="name" optionValue="id" [filter]="true"
                                    [style]="{'width':'100%','height':'45px','margin-bottom': '10px'}"
                                    [(ngModel)]="proId" (ngModelChange)="productChanged()" formControlName="productId">
                                </p-dropdown>
                            </div>

                            <div class="col-md-3">
                                <label class="label-config">{{'INVOICE.FORM_TITLE_2'| translate }}</label>
                                <input type="text" readonly class="input-style input-config-1"
                                    placeholder="Available Quantity" pInputText formControlName="availableQty">
                            </div>

                            <div class="col-md-3" *ngIf="!avbQtyLoading">
                                <label class="label-config">{{'INVOICE.FORM_TITLE_3'| translate }}</label>
                                <input type="number" class="input-style input-config-1" placeholder="Quantity"
                                    pInputText formControlName="quantity">
                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="content-card">
                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                                {{'INVOICE.TABLE_TITLE'| translate}}</p>
                        </div>
                        <span class="toolbar-spacer"></span>

                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input type="text" class="input-style input-config-1 table-search-box"
                                placeholder="{{'COMMON.SEARCH_TITLE'| translate }}" pInputText
                                (keyup)="tableFilter($event)">
                        </span>


                    </mat-toolbar>

                    <div class="table-wrapper">
                        <div class="table">
                            <mat-table #table [dataSource]="dataSource">


                                <ng-container matColumnDef="delete">
                                    <mat-header-cell *matHeaderCellDef>{{'INVOICE.TABLE_HEADER_1'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" (click)="removeData(element)">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="product">
                                    <mat-header-cell *matHeaderCellDef>{{'INVOICE.TABLE_HEADER_2'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.productName}}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="availableQty">
                                    <mat-header-cell *matHeaderCellDef>{{'INVOICE.TABLE_HEADER_3'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.availableQty}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="quantity">
                                    <mat-header-cell *matHeaderCellDef>{{'INVOICE.TABLE_HEADER_4'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.quantity}}
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 20]"
                                showFirstLastButtons>
                            </mat-paginator>
                            <br>


                        </div>

                    </div>

                </div>
            </div>

        </div>
    </form>


</section> -->

<app-loader *ngIf="isLoading"></app-loader>
<h2 class="header">Create  Invoice</h2>
<p class="breadcrumbs">sales / create-invoice</p>
<p-toast></p-toast>
<div class="insert-form-card" [hidden]="isLoading">
    <!-- FORM HEADER -->
    <div class="card-header">
        <h2 class="header">Create Invoice</h2>
        <div class="icon-wapper">
            <button class="icon-button" pTooltip="Add To Cart" tooltipPosition="bottom" (click)="addtoCart()"
                [disabled]="!dataForm.valid">
                <i class="fal fa-cart-shopping"></i>
            </button>
            <button class="icon-button" pTooltip="Save" tooltipPosition="bottom" (click)="saveConfirmation()"
                [disabled]="allData.length == 0||(!dataForm1.valid)">
                <i class="fal fa-file-contract"></i>
            </button>
            <button class="icon-button" pTooltip="Clear" tooltipPosition="bottom" (click)="clearData()">
                <i class="fal fa-eraser"></i>
            </button>
        </div>
    </div>

    <!-- FORM BODY -->
    <div class="card-body">
        <form [formGroup]="dataForm1">
            <div class="input-wapper">
                <div class="wapper">
                    <label for="branch">Customer Name</label>
                    <mat-form-field class="input-full-width" appearance="outline">
                        <input type="text" matInput [formControl]="myControl" [(ngModel)]="selectedCustomer"
                            placeholder="Sunil" [matAutocomplete]="auto" (ngModelChange)="customerChange()" class="input-text">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="wapper">
                    <label for="branch">Customer Type</label>
                    <p-dropdown [options]="cusOption" optionLabel="name" optionValue="id" [filter]="true" class="input-text"
                        formControlName="seperateCash" [style]="{'width':'100%'}"></p-dropdown>
                </div>

                <div class="wapper">
                    <label for="branch">Customer Address</label>
                    <input class="input-text" type="text" pInputText formControlName="address"
                        placeholder="Customer Address" />
                    <div class="error-text" *ngIf="dataForm1.get('address').touched || dataForm1.get('address').dirty">
                        <div class="d-flex mb-2" *ngIf="dataForm1.get('address').errors?.['required']">Address is
                            Required</div>
                    </div>
                </div>

                <div class="wapper">
                    <label for="branch">Customer City</label>
                    <input class="input-text" type="text" pInputText formControlName="city" placeholder="Kaluthara" />
                    <div class="error-text" *ngIf="dataForm1.get('city').touched || dataForm1.get('city').dirty">
                        <div class="d-flex mb-2" *ngIf="dataForm1.get('city').errors?.['required']">City is Required
                        </div>
                    </div>
                </div>

                <div class="wapper">
                    <label for="branch">Customer Telephone</label>
                    <input class="input-text" type="text" pInputText formControlName="telephone"
                        placeholder="0772005040" />
                    <div class="error-text"
                        *ngIf="dataForm1.get('telephone').touched || dataForm1.get('telephone').dirty">
                        <div class="d-flex mb-2" *ngIf="dataForm1.get('telephone').errors?.['required']">Telephone is
                            Required</div>
                    </div>
                </div>
            </div>
        </form>
        <br />
        <form [formGroup]="dataForm">
            <div class="input-wapper">
              
                <div class="wapper">
                    <label for="branch">Product</label>
                    <p-dropdown [options]="allProduct" optionLabel="name" optionValue="id" [filter]="true" placeholder="Please Select Product"
                        [style]="{'width':'100%'}" (ngModelChange)="productChanged()" formControlName="productId">
                    </p-dropdown>
                </div>

                <div class="wapper">
                    <label for="branch">Available Quantity</label>
                    <input class="input-text" type="number" pInputText formControlName="availableQty" placeholder="0"
                        readonly />
                </div>

                <div class="wapper">
                    <label for="branch">Quantity</label>
                    <input class="input-text" type="text" pInputText formControlName="quantity" placeholder="20" />
                    <div class="error-text" *ngIf="dataForm.get('quantity').touched || dataForm.get('quantity').dirty">
                        <div class="d-flex mb-2" *ngIf="dataForm.get('quantity').errors?.['required']">Quantity is
                            Required</div>
                    </div>
                </div>
            </div>
        </form>

    </div>


</div>

<div class="view-table-card"  [hidden]="isLoading" >
    <p-table #dt1 [value]="allData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['productName', 'availableQty', 'quantity']">
        <!-- TABLE FILTERS -->
        <ng-template pTemplate="caption">
            <div class="flex" class="card-filter">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Filter Data" class="filter" />
                </span>
            </div>
        </ng-template>
        <!-- TABLE HEADER -->
        <ng-template pTemplate="header">
            <tr class="card-header">
                <th class="left-th">Remove</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th class="right-th">Availble Quantity</th>
            </tr>
        </ng-template>
        <!-- TABLE BODY -->
        <ng-template pTemplate="body" let-data>
            <tr class="card-body table-border">
                <td>
                    <button (click)="removeData(data)" class="remove-btn">
                        <i class="fal fa-trash"></i>
                    </button>
                </td>
                <td>{{data.productName}}</td>
                <td>{{data.availableQty}}</td>
                <td>{{data.quantity}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>