.body {
    width: calc(100% - 6rem);
    margin-left: 6rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    padding: 1rem 1.5rem;
}

.body-trimmed {
    width: calc(100% - 18rem);
    margin-left: 18rem;
}

.body-md-screen {
    width: calc(100% - 6rem);
    margin-left: 6rem;
}