<!-- <section class="content-header" *ngIf="!isLoading">
    <h3>
        {{'COMPANY.BREAD_CRUMB_TITLE'| translate }}
        <small>{{'COMMON.BREAD_CRUMB_SUB_TITLE'| translate }}</small>
    </h3>
    <p-breadcrumb [model]="items" [home]="home" [style]="{ background: 'none', border: 'none' }"></p-breadcrumb>
</section> -->

<!-- <section class="container-fluid page-scroller" *ngIf="!isLoading">
    <form [formGroup]="dataForm">
        <div class="row">

            <div class="col-md-12">
                <div class="content-card">

                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">{{'COMPANY.TITLE'|
                                translate }}</p>
                            <p class="toolbar__para para-style" [ngStyle]="{'color': theme.toolBarSubHeaderColor}">
                                {{'COMPANY.SUB_TITLE'| translate}}</p>
                        </div>

                        <span class="toolbar-spacer"></span>

                        <div class="tool-bar-btn-group">
          
                            <button class="toolbar__icon"
                                [disabled]="!dataForm.valid||selection.selected.length==0"
                                matTooltip="{{'COMMON.UPDATE_TOOLTIP'| translate}}" (click)="updateConfirmation()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">edit</mat-icon>
                            </button>

                            <button class="toolbar__icon right_corner" matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}"
                                (click)="clearData()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">add</mat-icon>
                            </button>
                        </div>

                    </mat-toolbar>

                    <div class="txt-wrapper">

                        <div class="row">


                            <div class="col-md-2">
                                <label class="label-config">{{'COMPANY.FORM_TITLE_1'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="name" pInputText
                                    formControlName="name">
                            </div>
                           
                            
                            <div class="col-md-2">
                                <label class="label-config">{{'COMPANY.FORM_TITLE_2'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="addressLine1" pInputText
                                    formControlName="addressLine1">
                            </div>

                            
                            <div class="col-md-2">
                                <label class="label-config">{{'COMPANY.FORM_TITLE_3'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="addressLine2" pInputText
                                    formControlName="addressLine2">
                            </div>

                            
                            <div class="col-md-2">
                                <label class="label-config">{{'COMPANY.FORM_TITLE_4'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="addressLine3" pInputText
                                    formControlName="addressLine3">
                            </div>
                            
                            <div class="col-md-2">
                                <label class="label-config">{{'COMPANY.FORM_TITLE_5'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="telephone" pInputText
                                    formControlName="telephone">
                            </div>
                            
                            <div class="col-md-2">
                                <label class="label-config">{{'COMPANY.FORM_TITLE_6'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="email" pInputText
                                    formControlName="email">
                            </div>
                   
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="content-card">
                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                                {{'COMPANY.TABLE_TITLE'| translate}}</p>
                        </div>
                        <span class="toolbar-spacer"></span>

                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input type="text" class="input-style input-config-1 table-search-box"
                                placeholder="{{'COMMON.SEARCH_TITLE'| translate }}" pInputText
                                (keyup)="tableFilter($event)">
                        </span>
                    </mat-toolbar>

                    <div class="table-wrapper">
                        <div class="table">
                            <mat-table #table [dataSource]="dataSource">
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef>{{'COMPANY.TABLE_HEADER_1'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(element) : null"
                                            [checked]="selection.isSelected(element)" (change)="tableSelect(element)">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="name">
                                    <mat-header-cell
                                        *matHeaderCellDef>{{'COMPANY.TABLE_HEADER_2'|translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                       {{element.name}}
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="telephone">
                                    <mat-header-cell
                                        *matHeaderCellDef>{{'COMPANY.TABLE_HEADER_3'|translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                       {{element.telephone}}
                                    </mat-cell>
                                </ng-container>

                              
                                <ng-container matColumnDef="email">
                                    <mat-header-cell
                                        *matHeaderCellDef>{{'COMPANY.TABLE_HEADER_4'|translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                       {{element.email}}
                                    </mat-cell>
                                </ng-container>

                          

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 20]"
                                showFirstLastButtons>
                            </mat-paginator>
                            <br>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </form>


</section> -->

<app-loader *ngIf="isLoading"></app-loader>
<h2 class="header">Manage Company</h2>
<p class="breadcrumbs">setup / comapny</p>

<p-toast></p-toast>

<div class="insert-form-card" *ngIf="!isLoading">
    <!-- FORM HEADER -->
    <div class="card-header">
        <h2 class="header">Company</h2>
        <div class="icon-wapper">
            <button class="icon-button" pTooltip="Update" tooltipPosition="bottom" (click)="updateConfirmation()"
                [disabled]="!dataForm.valid || selectedData == undefined">
                <i class="fal fa-pen"></i>
            </button>
            <button class="icon-button" pTooltip="Clear" tooltipPosition="bottom" (click)="clearData()">
                <i class="fal fa-eraser"></i>
            </button>
        </div>
    </div>

    <!-- FORM BODY -->
    <form class="card-body" [formGroup]="dataForm">
        <div class="input-wapper">
            <div class="wapper">
                <label for="branch">Name</label>
                <input class="input-text" type="text" pInputText formControlName="name" placeholder="ABC Corporation"/>
                <div class="error-text" *ngIf="dataForm.get('name').touched || dataForm.get('name').dirty">
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('name').errors?.['required']">Company Name is Required</div>
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('name').errors?.['pattern']">Not a Valid Company Name</div>
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('name').errors?.['minlength']">Company Name Must be at Least 3 Characters</div>
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('name').errors?.['maxlength']">Company Name Can't be more than 20 Characters</div>
                </div>
            </div>

            <div class="wapper">
                <label for="telephone">Address Line1</label>
                <input class="input-text" type="text" pInputText formControlName="addressLine1" placeholder="123 Main Street"/>
                <div class="error-text" *ngIf="dataForm.get('addressLine1').touched || dataForm.get('addressLine1').dirty">
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('addressLine1').errors?.['required']">Addressline-1 Number is Required</div>
                </div>
            </div>
            <div class="wapper">
                <label for="email">Address Line2</label>
                <input class="input-text" type="text" pInputText formControlName="addressLine2" placeholder="Colombo 05"/>
                <div class="error-text" *ngIf="dataForm.get('addressLine2').touched || dataForm.get('addressLine2').dirty">
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('addressLine2').errors?.['required']">Addressline2 is Required</div>
                </div>
            </div>
        </div>
        <br />

        <div class="input-wapper">
            <div class="wapper">
                <label for="commission">Address Line3</label>
                <input class="input-text" type="text" pInputText formControlName="addressLine3" placeholder="Sri Lanka"/>
                <div class="error-text" *ngIf="dataForm.get('addressLine3').touched || dataForm.get('addressLine3').dirty">
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('addressLine3').errors?.['required']">Addressline3 is Required</div>
                </div>
            </div>

            <div class="wapper">
                <label for="deposit">Telephone</label>
                <input class="input-text" type="text" pInputText formControlName="telephone" placeholder="077 7121 311"/>
                <div class="error-text" *ngIf="dataForm.get('telephone').touched || dataForm.get('telephone').dirty">
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('telephone').errors?.['required']">Telephone is Required</div>
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('telephone').errors?.['pattern']">Not Valid Telephone Number</div>
                </div>
            </div>
            <div class="wapper">
                <label for="active">Email Address</label>
                <input class="input-text" type="text" pInputText formControlName="email" placeholder="dineth@gmail.com"/>
                <div class="error-text" *ngIf="dataForm.get('email').touched || dataForm.get('email').dirty">
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('email').errors?.['required']">Email Address is Required</div>
                    <div  class="d-flex mb-2" *ngIf="dataForm.get('email').errors?.['email']">Not Valid Email Address</div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="view-table-card" *ngIf="!isLoading">
    <p-table 
        #dt1 
        [value]="allData" [(selection)]="selectedData" dataKey="id" selectionMode="single"
        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'telephone', 'email']">
        <!-- TABLE FILTERS -->
        <ng-template pTemplate="caption">
            <div class="flex" class="card-filter">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter Data" class="filter"/>
                </span>
            </div>
        </ng-template>
        <!-- TABLE HEADER -->
        <ng-template pTemplate="header">
            <tr class="card-header">
                <th class="left-th">Select</th>
                <th>Name</th>
                <th>Telephone</th>
                <th class="right-th">Email Address</th>
            </tr>
        </ng-template>
        <!-- TABLE BODY -->
        <ng-template pTemplate="body" let-data >
            <tr [pSelectableRow]="data" class="card-body" class="table-border">
                <td>
                    <p-tableCheckbox [value]="data"></p-tableCheckbox>
                </td>
                <td>{{data.name}}</td>
                <td>{{data.telephone}}</td>
                <td>{{data.email}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
