<mat-toolbar class="header-tool-bar">

  <span class="quick-menu1" routerLink="/sales/invoice">Invoice</span>
  <span class="quick-menu2" routerLink="/sales/salesReturn">Sales Return</span>
  <span class="quick-menu2" routerLink="/reports/currentStock">Current Stock</span>
  <span class="toolbar-spacer"></span>

  <!-- <select #langSelect (change)="getSelectedValue(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
      {{commonFunctions.jlanguageLabel(lang)}}
    </option>
  </select> -->

</mat-toolbar>