<section class="content-header" *ngIf="!isLoading">
    <h3>
        {{'BRANCH.BREAD_CRUMB_TITLE'| translate }}
        <small>{{'COMMON.BREAD_CRUMB_SUB_TITLE'| translate }}</small>
    </h3>
    <p-breadcrumb [model]="items" [home]="home" [style]="{ background: 'none', border: 'none' }"></p-breadcrumb>
</section>

<p-toast></p-toast>

<section class="container-fluid page-scroller" *ngIf="!isLoading">
    <form [formGroup]="dataForm">
        <div class="row">

            <div class="col-md-12">
                <div class="content-card">

                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">{{'BRANCH.TITLE'| translate }}</p>
                            <p class="toolbar__para para-style" [ngStyle]="{'color': theme.toolBarSubHeaderColor}">{{'BRANCH.SUB_TITLE'| translate}}</p>
                        </div>

                        <span class="toolbar-spacer"></span>

                        <div class="tool-bar-btn-group">

                            <button *ngIf="grantAccess(1)" class="toolbar__icon"
                                [disabled]="!dataForm.valid||selection.selected.length!=0" matTooltip="{{'COMMON.SAVE_TOOLTIP'| translate}}"
                                (click)="saveConfirmation()" [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">save</mat-icon>
                            </button>

                            <button *ngIf="grantAccess(1)" class="toolbar__icon"
                                [disabled]="!dataForm.valid||selection.selected.length==0" matTooltip="{{'COMMON.UPDATE_TOOLTIP'| translate}}"
                                (click)="updateConfirmation()" [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">edit</mat-icon>
                            </button>
                             
                            <button *ngIf="grantAccess(1)" class="toolbar__icon"
                                [disabled]="!dataForm.valid||selection.selected.length==0" matTooltip="{{'COMMON.DELETE_TOOLTIP'| translate}}"
                                (click)="deleteConfirmation()" [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">remove</mat-icon>
                            </button>

                            <button *ngIf="grantAccess(1)" class="toolbar__icon"
                                [disabled]="allData.length==0" matTooltip="{{'COMMON.PRINT_TOOLTIP'| translate}}"
                                (click)="print()" [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">print</mat-icon>
                            </button>

                            <button class="toolbar__icon right_corner" matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}"
                             (click)="clearData()" [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">add</mat-icon>
                            </button>
                        </div> 

                    </mat-toolbar>

                    <div class="txt-wrapper">

                        <div class="row">

                            <div class="col-md-4">
                                <label class="label-config">{{'BRANCH.FORM_TITLE_1'| translate }}</label>
                                <input type="text"  class="input-style input-config-1" placeholder="Name"
                                    pInputText formControlName="name">
                            </div>

                            <div class="col-md-2">
                                <label class="label-config">{{'BRANCH.FORM_TITLE_2'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="addressLine1" pInputText
                                    formControlName="addressLine1">
                            </div>

                            <div class="col-md-2">
                                <label class="label-config">{{'BRANCH.FORM_TITLE_3'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="addressLine2" pInputText
                                    formControlName="addressLine2">
                            </div>

                            <div class="col-md-2">
                                <label class="label-config">{{'BRANCH.FORM_TITLE_4'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="telephone" pInputText
                                    formControlName="telephone">
                            </div>

                            <div class="col-md-2">
                                <label class="label-config">{{'BRANCH.FORM_TITLE_5'| translate }}</label>
                                <input type="text" class="input-style input-config-1" placeholder="email" pInputText
                                    formControlName="email">
                            </div>

                            <div class="col-md-2">
                                <label class="label-config">{{'BRANCH.FORM_TITLE_6'| translate }}</label>
                                <input type="number" class="input-style input-config-1" placeholder="Commision" pInputText
                                    formControlName="specialCommision">
                            </div>

                            <div class="col-md-2">
                                <label class="label-config">{{'BRANCH.FORM_TITLE_7'| translate }}</label>
                                <input type="number" class="input-style input-config-1" placeholder="deposite" pInputText
                                    formControlName="deposite">
                            </div>

                            <div class="col-md-2">
                                <label class="label-config">{{'BRANCH.FORM_TITLE_8'|
                                    translate
                                    }}</label>
                                <p-dropdown [(ngModel)]="selectedOption" [options]="activeOptions"
                                    optionLabel="name" optionValue="id"
                                    [style]="{'width':'100%','height':'45px','margin-bottom': '10px'}"
                                    formControlName="status">
                                </p-dropdown>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="content-card">
                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">{{'BRANCH.TABLE_TITLE'| translate}}</p>
                        </div>
                        <span class="toolbar-spacer"></span>

                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input type="text" class="input-style input-config-1 table-search-box" 
                                placeholder="{{'COMMON.SEARCH_TITLE'| translate }}" pInputText (keyup)="tableFilter($event)">
                        </span>
                    </mat-toolbar>

                    <div class="table-wrapper">
                        <div class="table">
                            <mat-table #table [dataSource]="dataSource">
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef>{{'BRANCH.TABLE_HEADER_1'| translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-checkbox (click)="$event.stopPropagation()" 
                                            (change)="$event ? selection.toggle(element) : null"
                                            [checked]="selection.isSelected(element)" (change)="tableSelect(element)">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef>{{'BRANCH.TABLE_HEADER_2'| translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.name}}
                                    </mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="createdDate">
                                    <mat-header-cell *matHeaderCellDef>{{'BRANCH.TABLE_HEADER_3'| translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.createdDate}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="createdBy">
                                    <mat-header-cell *matHeaderCellDef>{{'BRANCH.TABLE_HEADER_4'| translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.createdBy}}
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 20]"
                                showFirstLastButtons>
                            </mat-paginator>
                            <br>
                         

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </form>


</section>

<app-loader *ngIf="isLoading"></app-loader>