<!-- <section class="content-header" *ngIf="!isLoading">
    <h3>
        {{'USER_PROFILE.BREAD_CRUMB_TITLE'| translate }}
        <small>{{'COMMON.BREAD_CRUMB_SUB_TITLE'| translate }}</small>
    </h3>
    <p-breadcrumb [model]="items" [home]="home" [style]="{ background: 'none', border: 'none' }"></p-breadcrumb>
</section>
<section class="container-fluid page-scroller"> -->

<!-- <form [formGroup]="dataForm">

    <div class="col-md-12">
        <div class="content-card">

            <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                <div class="column">
                    <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                        {{'USER_PROFILE.TITLE'| translate }}</p>
                    <p class="toolbar__para para-style" [ngStyle]="{'color': theme.toolBarSubHeaderColor}">
                        {{'USER_PROFILE.SUB_TITLE'| translate}}</p>
                </div>

                <span class="toolbar-spacer"></span>

                <div class="tool-bar-btn-group">

                    <button class="toolbar__icon" type="button" (click)="updatePassword()" [disabled]="!dataForm.valid"
                        matTooltip="{{'COMMON.UPDATE_TOOLTIP'| translate}}"
                        [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                        <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">edit</mat-icon>
                    </button>

                    <button class="toolbar__icon right_corner" matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}"
                        [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                        <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">add</mat-icon>
                    </button>
                </div>

            </mat-toolbar>

            <div class="txt-wrapper">

                <div class="row">

                    <div class="col-md-6">
                        <label class="label-config">{{'USER_PROFILE.FORM_TITLE_1'| translate }}</label>
                        <input type="password" class="input-style input-config-1" placeholder="Current Password"
                            pInputText formControlName="oldPwd">
                    </div>

                    <div class="col-md-6">
                        <label class="label-config">{{'USER_PROFILE.FORM_TITLE_2'| translate }}</label>
                        <input type="text" class="input-style input-config-1" placeholder="New Password" pInputText
                            formControlName="newPwd">
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
</section> -->

<app-loader *ngIf="isLoading"></app-loader>
<h2 class="header">User Profile</h2>
<p class="breadcrumbs">user-module / user-profile</p>
<p-toast></p-toast>

<div class="insert-form-card" *ngIf="!isLoading">
    <!-- FORM HEADER -->
    <div class="card-header">
        <h2 class="header">User Profile</h2>
        <div class="icon-wapper">
            <button class="icon-button" pTooltip="Update" tooltipPosition="bottom"  (click)="updatePassword()" 
                [disabled]="!dataForm.valid">
                <i class="fal fa-pen"></i>
            </button>
            <button class="icon-button" pTooltip="Clear" tooltipPosition="bottom" (click)="clearData()">
                <i class="fal fa-eraser"></i>
            </button>
        </div>
    </div>

    <!-- FORM BODY -->
    <form class="card-body" [formGroup]="dataForm">
        <div class="input-wapper">
            <div class="wapper">
                <label for="start-date">Current Password</label>
                <input type="password" placeholder="Current Password" pInputText formControlName="oldPwd">
            </div>

            <div class="wapper">
                <label for="end-date">New Password</label>
                <input type="text" placeholder="New Password" pInputText formControlName="newPwd">
            </div>
        </div>
    </form>
</div>