<!-- 
<h2 mat-dialog-title>
    {{header}}
</h2>
<div mat-dialog-content>
    <p>{{message}}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="dialogClose(false)">{{noText}}</button>
    <button mat-raised-button color="primary" (click)="dialogClose(true)" cdkFocusInitial>{{yesText}}</button>
</div> -->

<div class="dialog-wapper">
    <h2 class="header">Confirmation</h2>
    <h4 class="message">{{message}}</h4>

    <div class="button-wapper">
        <button (click)="dialogClose(false)" class="cancel-btn">
            <h4>Cancel</h4>
        </button>
        <button (click)="dialogClose(true)" class="confirm-btn">
            <h4>Confirm</h4>
        </button>
    </div>
</div>
