/* MAIN COLORS */
$white: #ffffff;
$black: #1D1D1F;

/* THEME COLORS */
$green-theme-colors-dark: #06C16740;
$green-theme-colors-light: #06C167;
$green-theme-colors-active: #06C16740;

/* BUTTON COLORS */
$button-black: #000000;
$button-white: #ffffff;
$button-red: #D55F5A;
$button-red-background-1: #d55e5a50;
$button-black-background: #F6F6F6;
$button-close-background: #E8E8E8;
$button-red-background-2: #e8000040;
$button-table-gray: #F0F1F3;

/* TEXT COLORS */
$paragraph-color: #7D94A0;
$placeholder-color: #ccd7dd;
$text-color-1: #5A6A85;
$text-color-2: #757575;
$text-color-3: #202020;
$text-color-4: #303030;
$text-color-5: #878787;
$text-red-1: #E80000;
$text-blue-1: #000AF1;

/* BORDER COLORS */
$border-color: #D8DADC;
$hr-color: #EAEFF4;
$hr-color-2: #D2D9E1;
$tooltip-background: #202020;
$shadow-color: #00000020;
