<!-- <section class="content-header" *ngIf="!isLoading">
    <h3>
        {{'GRN.BREAD_CRUMB_TITLE'| translate }}
        <small>{{'COMMON.BREAD_CRUMB_SUB_TITLE'| translate }}</small>
    </h3>
    <p-breadcrumb [model]="items" [home]="home" [style]="{ background: 'none', border: 'none' }"></p-breadcrumb>
</section> -->

<!-- <section class="container-fluid page-scroller" *ngIf="!isLoading">
    <form [formGroup]="dataForm">
        <div class="row">

            <div class="col-md-12">
                <div class="content-card">

                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">{{'GRN.TITLE'|
                                translate }}</p>
                            <p class="toolbar__para para-style" [ngStyle]="{'color': theme.toolBarSubHeaderColor}">
                                {{'GRN.SUB_TITLE'| translate}}</p>
                        </div>

                        <span class="toolbar-spacer"></span>

                        <div class="tool-bar-btn-group">

                            <button *ngIf="grantAccess(1)" class="toolbar__icon"
                                [disabled]="!dataForm.valid||selection.selected.length!=0"
                                matTooltip="{{'COMMON.SAVE_TOOLTIP'| translate}}" (click)="addtoCart()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">shopping_cart</mat-icon>
                            </button>

                            <button class="toolbar__icon" matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}"
                                [disabled]="allData.length==0"(click)="saveConfirmation()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">save</mat-icon>
                            </button>

                            <button class="toolbar__icon right_corner"
                                matTooltip="{{'COMMON.CLEAR_TOOLTIP'| translate}}" (click)="clearData()"
                                [ngStyle]="{'background-color': theme.toolBarIconBtnBackgroundColor}">
                                <mat-icon [ngStyle]="{'color': theme.toolBarIconColor}">add</mat-icon>
                            </button>
                        </div>

                    </mat-toolbar>

                    <div class="txt-wrapper">

                        <div class="row">

                                <div class="col-md-6">
                                <label class="label-config">{{'GRN.FORM_TITLE_2'| translate }}</label>
                                <p-dropdown [options]="allProduct" optionLabel="name" optionValue="id" [filter]="true"
                                    [style]="{'width':'100%','height':'45px','margin-bottom': '10px'}"
                                    formControlName="productId">
                                </p-dropdown>
                            </div>

                            <div class="col-md-3">
                                <label class="label-config">{{'GRN.FORM_TITLE_4'| translate }}</label>
                                <input type="number" class="input-style input-config-1" placeholder="Cost" pInputText
                                    formControlName="cost">
                            </div>

                            <div class="col-md-3">
                                <label class="label-config">{{'GRN.FORM_TITLE_5'| translate }}</label>
                                <input type="number" class="input-style input-config-1" placeholder="Quantity" pInputText
                                    formControlName="currentQty">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="content-card">
                    <mat-toolbar class="toolbar" [ngStyle]="{'background-color': theme.toolBarBackgroundColor}">
                        <div class="column">
                            <p class="toolbar__header" [ngStyle]="{'color': theme.toolBarHeaderColor}">
                                {{'GRN.TABLE_TITLE'| translate}}</p>
                        </div>
                        <span class="toolbar-spacer"></span>

                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input type="text" class="input-style input-config-1 table-search-box"
                                placeholder="{{'COMMON.SEARCH_TITLE'| translate }}" pInputText
                                (keyup)="tableFilter($event)">
                        </span>


                    </mat-toolbar>

                    <div class="table-wrapper">
                        <div class="table">
                            <mat-table #table [dataSource]="dataSource">


                                <ng-container matColumnDef="delete">
                                    <mat-header-cell *matHeaderCellDef>{{'GRN.TABLE_HEADER_1'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" (click)="removeData(element)">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="product">
                                    <mat-header-cell *matHeaderCellDef>{{'GRN.TABLE_HEADER_2'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.productName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="currentQty">
                                    <mat-header-cell *matHeaderCellDef>{{'GRN.TABLE_HEADER_4'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.currentQty}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="cost">
                                    <mat-header-cell *matHeaderCellDef>{{'GRN.TABLE_HEADER_5'|
                                        translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.cost}}
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 20]"
                                showFirstLastButtons>
                            </mat-paginator>
                            <br>


                        </div>

                    </div>

                </div>
            </div>

        </div>
    </form>


</section> -->

<app-loader *ngIf="isLoading"></app-loader>
<h2 class="header">Create Grn</h2>
<p class="breadcrumbs">sales / create-grn</p>
<p-toast></p-toast>
<div class="insert-form-card" *ngIf="!isLoading">
    <!-- FORM HEADER -->
    <div class="card-header">
        <h2 class="header">Create Grn</h2>
        <div class="icon-wapper">
            <button class="icon-button" pTooltip="Add To Cart" tooltipPosition="bottom" (click)="addtoCart()"
                [disabled]="!dataForm.valid || selectedData != undefined">
                <i class="fal fa-cart-shopping"></i>
            </button>
            <button class="icon-button" pTooltip="Save" tooltipPosition="bottom" (click)="saveConfirmation()"
                [disabled]="allData.length == 0||(!dataForm1.valid)">
                <i class="fal fa-file-contract"></i>
            </button>
            <button class="icon-button" pTooltip="Clear" tooltipPosition="bottom" (click)="clearData()">
                <i class="fal fa-eraser"></i>
            </button>
        </div>
    </div>

    <!-- FORM BODY -->

    <div class="card-body">
        <form [formGroup]="dataForm1">
            <div class="input-wapper">
                <div class="wapper">
                    <label for="name">Supplier Name</label>
                    <mat-form-field class="input-full-width" appearance="outline">
                        <input type="text" matInput [formControl]="myControl" [(ngModel)]="selectedSupplier" class="input-text"
                            placeholder="Nimal" [matAutocomplete]="auto" (ngModelChange)="supplierChange()" required>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="wapper">
                    <label for="address">Supplier Address</label>
                    <input class="input-text" type="text" pInputText formControlName="supAddress" placeholder="Horana" />
                </div>

                <div class="wapper">
                    <label for="mobile">Supplier Mobile</label>
                    <input class="input-text" type="text" pInputText formControlName="supContact" placeholder="0775060040" />
                </div>

                <div class="wapper">
                    <label for="number">Supplier Invoice Number</label>
                    <input class="input-text" type="text" pInputText formControlName="supInvoice" placeholder="2000050004000" />
                </div>
            </div>
        </form>
        <br />
        
        <form [formGroup]="dataForm">
            <div class="input-wapper">
                <div class="wapper">
                    <label for="product">Product</label>
                    <p-dropdown [options]="allProduct" optionLabel="name" optionValue="id" [filter]="true" class="input-text"
                        [style]="{'width':'100%','margin-bottom': '10px'}" formControlName="productId">
                    </p-dropdown>
                </div>

                <div class="wapper">
                    <label for="cost">Cost</label>
                    <input class="input-text" type="number" pInputText formControlName="cost" placeholder="25000" />
                    <div class="error-text" *ngIf="dataForm.get('cost').touched || dataForm.get('cost').dirty">
                        <div class="d-flex mb-2" *ngIf="dataForm.get('cost').errors?.['required']">Cost is Required
                        </div>
                    </div>
                </div>
                <div class="wapper">
                    <label for="quantity">Quantity</label>
                    <input class="input-text" type="number" pInputText formControlName="currentQty" placeholder="4" />
                    <div class="error-text"
                        *ngIf="dataForm.get('currentQty').touched || dataForm.get('currentQty').dirty">
                        <div class="d-flex mb-2" *ngIf="dataForm.get('currentQty').errors?.['required']">Quantity is
                            Required</div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="view-table-card" *ngIf="!isLoading">
    <p-table #dt1 [value]="allData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['productName', 'currentQty', 'cost']">
        <!-- TABLE FILTERS -->
        <ng-template pTemplate="caption">
            <div class="flex" class="card-filter">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Filter Data" class="filter" />
                </span>
            </div>
        </ng-template>
        <!-- TABLE HEADER -->
        <ng-template pTemplate="header">
            <tr class="card-header">
                <th class="left-th">Remove</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th class="right-th">Cost</th>
            </tr>
        </ng-template>
        <!-- TABLE BODY -->
        <ng-template pTemplate="body" let-data>
            <tr class="card-body table-border">
                <td>
                    <button (click)="removeData(data)" class="remove-btn">
                        <i class="fal fa-trash"></i>
                    </button>
                </td>
                <td>{{data.productName}}</td>
                <td>{{data.currentQty}}</td>
                <td>{{data.cost}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>