<div class="topbar-container body" [ngClass]="getBodyClass()">
    <!-- <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="search-box" type="text" placeholder="Search or enter product name">
    </div> -->

    <div class="icon-container">
        <!-- <i class="fa-regular fa-bell" pBadge value="2" severity="success" (click)="notoficationHandle()"></i> -->
        <div class="hr"></div>
        <!-- <i class="fa-regular fa-message" pBadge value="2" severity="warning" (click)="messagesHandle()"></i> -->
        <img class="flag" src="../../../assets/images/us-flag.jpg" alt="us-flag">
        <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name"></p-dropdown>
    </div>

    <!-- <div *ngIf="isBellIcon" class="notification-box">
        <h2>Notification Box</h2>
    </div>

    <div *ngIf="isMessageIcon" class="messages-box">
        <h2>Message Box</h2>
    </div> -->
</div>


