@import "../../../colors.scss";

.body {
    width: calc(100% - 6rem);
    transition: all .5s ease;
    background-color: $white;
    margin-left: 6rem;
}

.body-trimmed {
    width: calc(100% - 18rem);
    margin-left: 18rem;
}

.body-md-screen {
    width: calc(100% - 6rem);
    margin-left: 6rem;
}

/* COMMON */
.topbar-container{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid $border-color;

    i{
        font-size: 20px;
        color: $text-color-4;
        margin: auto 0;
    }
}

/* SEARCH BAR */
// .search-bar{
//     display: flex;
//     gap: 18px;
//     margin: auto 0;
//     width: 100%;
    
//     .search-box{
//         font-size: 16px;
//         padding-top: 2px;
//         outline: none;
//         border: none;
//         width: 90%;
//     }
// }

/* ICON CONTAINER */
.icon-container{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 12px;

    i{
        cursor: pointer;
    }
}
// .notification-box, .messages-box{
//     position: absolute;
//     top: 4rem;
//     z-index: 10;
//     background-color: $white;
//     min-width: 300px;
//     min-height: 200px;
//     border-radius: 8px;
//     padding: 12px;
//     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.200);
//     animation: slideTopToBottom 300ms ease-in-out;
// }

// .notification-box{
//     right: 3rem;
// }
// .messages-box{
//     right: 3rem;
// }

.hr{
    width: 2px;
    height: 24px;
    background-color: $hr-color;
    margin-left: 12px;
    margin-right: 2px;
}
.flag{
    border-radius: 50%;
    height: 28px;
}

/* ANIMATION */
@keyframes slideTopToBottom {
    from {
      transform: translateY(+50px);
    }
    to {
      transform: translateY(0);
    }
}

